<link rel="stylesheet" href="/css/home.css" type="text/css">
<h1>Social App</h1>

<section id="feed-post">
    <h4>Posts</h4>
    <% if (locals.user) {%>
    <form action="/post/create" id="new-post-form" method="post">
        <textarea name="content" placeholder="Type Here..." cols="30" rows="5"></textarea>
        <button type="submit">Post</button>
    </form>
    <%}%>
</section>
<div class="post-list">
    <ul>
        <%for (post of posts){%>

            <li>
                <p><%=post.content%>
                    <small><%=post.user.name%></small>
                    <% if (locals.user && locals.user.id==post.user.id) { %>
                    <small><a href="/post/destroy/<%=post.id%>">Delete</a></small>
                    <%}%>
                </p>
                <div class="post-comment">
                    <%if (locals.user){%>
                        <form action="/comment/create" method="post">
                            <input type="text" name="content" placeholder="Type Here to comment..." required>
                            <input type="hidden" name="post" value="<%=post._id%>">
                            <button type="submit">Comment</button>
                        </form>
                    <%}%>
                </div>
                <div class="post-comment-list">
                    <ul>
                        <% for (comment of post.comment) { %>
                            <li><%=comment.content%> <%=comment.user.name%></li>
                            <% if (locals.user && locals.user.id==comment.user.id) { %>
                                <small><a href="/comment/destroy/<%=comment.id%>">Delete</a></small>
                            <%}%>
                        <%}%> 
                    </ul>
                </div>
            </li>
            
        <%}%>
    </ul>
</div>