<link rel="stylesheet" href="/css/user_profile.css" type="text/css">
<h1><%=title%></h1>
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>
<img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" height="200px" width="250px">

<% if(user.id==profile_user.id) { %>
    <form action="/user/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email %>" required>
        <input type="file" name="avatar" id="" placeholder="Your Image">
        <button type="submit">Update</button>
    </form>
<% } %>